<nav class="px-8 py-4 bg-indigo-700">
<!-- This example requires Tailwind CSS v1.4.0+ -->
<div class="relative">
    <div class="max-w-7xl mx-auto">
      <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
        <div class="lg:w-0 lg:flex-1">
          <a href="#" class="flex">
            <p class="uppercase text-3xl pl-4 text-indigo-100 font-semibold">Reluz ltd.</p>
          </a>
        </div>
        <div class="-mr-2 -my-2 md:hidden">
          <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
            <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
            </svg>
          </button>
        </div>
        <nav class="hidden md:flex w-1/2">
            <div class="w-full bg-indigo-700">
                <div class="bg-indigo-100 rounded-full flex w-full  tracking-wider cursor-pointer">
                    
                    <% const active = 'rounded-full transform z-20 shadow-lg transform scale-125 bg-indigo-900 w-1/3 text-center text-indigo-100 uppercase font-medium text-2xl py-1'; %>
                    <% const inactive = 'rounded-full w-1/3 text-center text-indigo-900 uppercase font-medium text-2xl py-1';%>

                    <div class="<% if(location == 'landing'){ %><%=active%><% }else{ %><%=inactive%><% } %>">
                        Home
                    </div>
                    <div class="<% if(location == 'shop'){ %><%=active%><% }else{ %><%=inactive%><% } %>">
                        Shop
                    </div>
                    <div class="<% if(location == 'about'){ %><%=active%><% }else{ %><%=inactive%><% } %>">
                        about
                    </div>


                </div>
            </div>
        </nav>
        <div class="hidden md:flex items-center justify-end space-x-8 md:flex-1 lg:w-0">
          <span class="inline-flex rounded-md shadow-sm">
            <a href="#" class="whitespace-no-wrap inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
              Welcome Ivan Moroz
            </a>
          </span>
          <div class="rounded-full bg-indigo-100 p-2 relative" >
          
            <div><svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6 inline"><path fill="#3C366B" d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path></svg></div>
            <div class="border-2 font-bold border-indigo-100 text-indigo-200 transform translate-x-2 -translate-y-2 top-0 left-0 -translate-x-3 absolute bg-indigo-800 rounded-full p-3 w-4 h-4 flex items-center justify-center">
                7
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</nav>